body{font-size: 15px}

a{text-decoration: none;
	color: #E8E9CF;
	font-size: 24px;
	text-transform: uppercase;
	align-content: center;
	margin-right: 5px;
	text-align: center;
	font-size: 16px;

}

img{max-width: 100%;}



.frosted a{color: #E1F3DB;
	padding: 5px;
	font-family: 'Impact';
	font-size: 46px;
	}

.pageLogo {grid-area: logo;
	min-height: 300px;
	background-image: url("hialeah 4.jpg");
	color: green;
	background-size: cover;
	background-position: bottom;
	justify-content: start;
	align-content: center;}

.menu ul{display: grid;
	grid-template-columns: repeat(5, 1fr);
	list-style-type: none;
	}

li{background-color: #E1F3DB;
	margin-right: 10px;
	text-align: center;
	font-size: 30px;}

.menu a{color: #4E3F40;
text-decoration: none;
text-transform:uppercase;
font-family: 'Impact';
margin-right: 30px;
margin-bottom: 20px;
}


h2{
	color: #689BA0;
	font-family: 'Impact';
}

.gallery{display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;}


@media (max-width: 500px){
	.topSection{
		grid-template-areas:
		"logo"
	}


	img{width: 250px;}
}
	.gallery{
		grid-template-columns: repeat(2, 1fr); }


@media (max-width: 700px){

		img{width: 250px;}
}
	.gallery{
		grid-template-columns: repeat(2, 1fr); 	
}
